contributions.hacktoberfest.thecasualcoder.in
tls {$CADDY_EMAIL}

ext .html   # Clean URLs
errors error.log {       # Error log
    404 error-404.html   # Custom error page
}

proxy /leaderboard http://grafana:3000 {
    fail_timeout 5s
    transparent
    without /leaderboard
}

proxy /api http://influxdb:8086 {
    fail_timeout 5s
    transparent
    without /api
}