hacktoberfest2020.geeknight.in
tls {$CADDY_EMAIL}

ext .html   # Clean URLs
errors error.log {       # Error log
    404 error-404.html   # Custom error page
}

proxy /leaderboard http://grafana:3000 {
    fail_timeout 5s
    transparent
    without /leaderboard
}

proxy /api http://api:3000 {
    fail_timeout 5s
    transparent
}

proxy /submit http://web {
    fail_timeout 5s
    transparent
    without /submit
}

proxy / https://twchennai.github.io/hacktoberfest {
    fail_timeout 5s
}
